---
---

<div class="flex items-center justify-center h-10 border-t border-slate-200">
  <div
    id="year"
    class="inline-block leading-4 text-slate-400 font-medium"
  >
  </div>
</div>

<script>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString()
</script>
