---
---

<div id="year" class="text-center py-3 border-t-2 border-slate-100 text-slate-400 font-medium"></div>

<script>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString()
</script>
