---
// component import
import Footer from "@components/Footer.astro"
import Nav from "@components/Nav.astro"
import MainHead from "@layouts/MainHead.astro"
const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
} = Astro.props
---

<html lang="ru">
  <MainHead {title} {description} />
  <body class="bg-slate-100">
    <div class="min-h-screen flex flex-col">
      <Nav />
      <main class="flex-grow">
        <slot> Default Text</slot>
      </main>
      <div class="mt-auto">
        <Footer />
      </div>
    </div>
  </body>
</html>
